.create-channel-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.channel-name-wrapper {
  margin-bottom: 1rem;
}

.create-channel-wrapper input {
  border-radius: 10px;
  height: 30px;
  background: #f7f6f8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-top: 0.5rem;
}

.create-channel-header {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.create-channel-button {
  background-color: #5e60ce;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px ;
  color: #fff;
  cursor: pointer;
  height: 40px;
  width: 120px;
  transition: all .2s, ease-in;
  padding: 0 10px;
  border-width: 0;
  border-radius: 6px;
}

